@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Personnes", "Index", "Person")</li>
    <li>@Html.ActionLink("Catégories POI", "Index", "CategoryPOI")</li>
    <li>@Html.ActionLink("Types de course", "Index", "RaceTypes")</li>
}
