@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Personnes", "Index", "Person", routeValues: null, htmlAttributes:  new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Catégories POI", "Index", "CategoryPOI", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Types de course", "Index", "RaceTypes", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
}
