@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Jack is Fit</h1>
    <p class="lead">Jack is Fit référence une liste de course, vous pouvez vous y inscrire en créant un compte sur cette application.</p>
    <p>@Html.ActionLink("Voir les courses >", "Index", "Races", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>